<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a href="/Authentication/Register">Need an account?</a>
                </p>

@*                 <ul class="error-messages">
                    <li>That email is already taken</li>
                </ul> *@

                <form method="post" action='@Url.Action("ValidarSesion", "Authentication")'>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" name="email" type="text" placeholder="Email" required />
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" name="password" type="password" placeholder="Password" required />
                    </fieldset>
                    <button type="submit" class="btn btn-lg btn-primary pull-xs-right">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>